svg {
  max-width: 100%;
  max-height: 95%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  &#hood {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 10;
    stroke-dasharray: 870;
    stroke-dashoffset: 870;
    animation: draw 10s infinite linear;
  }
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}