.wrap {
width: 640px;
height: 480px;
position: absolute;
left:50%;
top: 50%;
transform: translate(-50%, 12%);
overflow: hidden;
}

iframe {
width: 90% !important;
height: 90% !important;
-webkit-transform: scale(1.2);
-webkit-transform-origin: 0 0;
}
