.wrap {
width: 660px;
height: 500px;
border: none;
position: absolute;
left:50%;
top: 50%;
transform: translate(-50%, 12%);
overflow: hidden;
}

.reveal iframe {
min-width: 110% !important;
min-height: 110% !important;
border: none;
transform: scale(1.0);
transform-origin: 0 0;
}
